* {
  margin: 0px;
  padding: 0px;
}
.container_root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh; /* Full viewport height */
}
.container_namegen_root {
  border: 1px solid red;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 420px;
  border-radius: 24px;
}
.container_namegen_root_left {
  /* border: 1px solid red; */
  width: 400px;
  height: 420px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  align-content: center;
  text-align: center;
  background-color: #ededed;
}
.container_namegen_left_content {
  /* border: 1px solid red; */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #171738;
  font-family: helvetica;
}
.container_namegen_left_content_header h2 {
  font-size: 24px;
  font-weight: bolder;
}
.container_namegen_left_content_dob {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container_namegen_left_content_dob form {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.dob_input_form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.dob_input_form input {
  border-radius: 4px;
  border: 0px;
  height: 25px;
  text-align: center;
}
.dob_input_form label {
  color: #17173870;
}
.container_namegen_left_content_gender {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container_namegen_left_content_gender select {
  border-radius: 4px;
  border: 0px;
  width: 180px;
  height: 25px;
  padding-left: 10px;
}
.container_namegen_left_content_submit button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #171738;
  font-weight: 600;
  /* font-size: 14px; */
}
.container_namegen_root_right {
  /* border: 1px solid red; */
  width: 400px;
  height: 420px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  align-content: center;
  background-color: #171738;
}
.container_namegen_right_content {
  /* border: 1px solid red; */
  height: 250px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: helvetica;
}
.container_namegen_right_content_header h1 {
  font-size: 40px;
  font-weight: bolder;
}
.container_namegen_right_content_descript {
  /* border: 1px solid red; */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_namegen_right_content_descript p {
  width: 250px;
  font-size: 14px;
}
